@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-principal: #249696;
}

body {
    font-family: "Nunito", Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Cabeçalho */
.header-bg {
    background-color: var(--cor-principal);
}
/* Fixa o menu no topo */
#fix {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
}
.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu a {
    color: var(--cor-principal);
}
.menu-logo a{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}
.border-logo {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    padding: 5px;
}
.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
    color: white;
}
.menu-nav a:hover{
    text-decoration: underline;
    transition-duration: 1s;
}
.buttom-destaque {
    background-color: white;
    border-radius: 10px;
}
#buttom-color {
    color: var(--cor-principal);
    text-decoration: none;
}
#buttom-color:hover {
    background-color: #174b4b;
    color: white;
    transition-duration: .7s;
}

/* Recurso mobile do Menu hamburguer */
.nav-list {
    display: flex;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    margin-left: 200px;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}
/* Recurso mobile do Menu hamburguer */

/* Destaque */
.img-bg {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.opacity {
    position: relative;
    background: #010d11;
    overflow: hidden;
}
.opacity h1 {
    margin-top: 110px;
    padding-bottom: 10px;
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 3.5em;
    text-decoration: underline;
}
.opacity a {
    position: relative;
    z-index: 2;
    font-size: 2em;
    padding: 10px;
    margin-top: 30px;
    color: var(--cor-principal);
    display: block;
}
.opacity p {
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 1.5em
}
/* Cria uma leve opacidade na imagem de destaque principal */
.opacity:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background: black url('../img/circuito-principal-foto-destaque.jpg') bottom center no-repeat;
    background-size: cover;
}
#buttom-color2:hover {
    background-color: var(--cor-principal);
    color: white;
    transition-duration: .7s;
}
/* #destaque-img {
    background: black url('../img/circuito-principal-foto-destaque.jpg') bottom center no-repeat;
    background-size: cover;
} */

/* Sobre */
.sobre {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid var(--cor-principal);
}
.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}
.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

/* Certificados (código redundante) */
.certificados {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 3px solid var(--cor-principal);
}
.certificado-info {
    flex: 2 1 300px;
    margin: 0 10px;
}
.certificado-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.certificado-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

/* Diferencial */
/* .bg-diferencial {
    background: black url('../img/aparelho-calibrado.png') 
    bottom center no-repeat fixed;
    background-size: cover;
} */
.diferencial {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
}
.diferencial h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.diferencial p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}
.diferencial-info {
    flex: 2 1 300px;
    margin: 0 10px;
}

/* O que está esperando? */
.bg-contato {
    background-color: #174b4b;
}
.contato {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.contato h1 {
    font-size: 3em;
    margin-bottom: .5em;
    color: white;
}
.contato p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #aaa;
}
#buttom-final {
    padding: 10px;
    font-size: 2em;
    color: var(--cor-principal);
}
#buttom-final:hover {
    background-color: var(--cor-principal);
    color: white;
    transition-duration: .7s;
}

/* Contato */
.rodape {
    margin: 0 auto;
    background-color: #010d11;
    color: #aaaaaa;
    text-align: center;
}
.rodape a {
    color: #aaaaaa;
}
.rodape p {
    padding: 10px;
}

/* Media query para Mobile */
@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .menu-nav a {
        color: white;
        border-radius: 10px;
    }

    .menu-nav a:hover {
        transition-duration: 0.5s;
        background-color: white;
        color: var(--cor-principal);
        text-decoration: none;
    }

    .nav-list {
        position: absolute;
        top: 11vh;
        right: 0;
        width: 60vw;
        height: 70vh;
        background-color: var(--cor-principal);
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-radius: 0px 0px 0px 10px;
        z-index: 3;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    /* Anima os links */
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}