@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

:root {
    --cor-principal: #249696;
}

body {
    font-family: "Nunito", Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Cabeçalho */
.header-bg {
    background-color: var(--cor-principal);
}
.menu {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu a {
    color: var(--cor-principal);
}
.menu-logo a{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}
.border-logo {
    border: 1px solid white;
    background-color: white;
    border-radius: 50px;
    padding: 5px;
}
.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
    color: white;
}
.menu-nav a:hover{
    text-decoration: underline;
    transition-duration: 1s;
}
.buttom-destaque {
    background-color: white;
    border-radius: 10px;
}
#buttom-color {
    color: var(--cor-principal);
    text-decoration: none;
}

/* Destaque */
.img-bg {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.opacity {
    position: relative;
    background: #010d11;
    overflow: hidden;
}
.opacity h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 3em;
    text-decoration: underline;
}
.opacity a {
    position: relative;
    z-index: 2;
    font-size: 2em;
    padding: 10px;
    color: var(--cor-principal);
    display: block;
}
/* Cria uma leve opacidade na imagem de destaque principal */
.opacity:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background: black url('../img/circuito-principal-foto-destaque.jpg') bottom center no-repeat;
    background-size: cover;
}

/* #destaque-img {
    background: black url('../img/circuito-principal-foto-destaque.jpg') bottom center no-repeat;
    background-size: cover;
} */

/* Sobre */
.sobre {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid var(--cor-principal);
}
.sobre-info {
    flex: 2 1 300px;
    margin: 0 10px;
}
.sobre-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}

/* Certificados (código redundante) */
.certificados {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 3px solid var(--cor-principal);
}
.certificado-info {
    flex: 2 1 300px;
    margin: 0 10px;
}
.certificado-info h1 {
    font-size: 3em;
    margin-bottom: .5em;
}
.certificado-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
}